// @import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color_blue: #2f80ed;
$color_blue-bright: #50abff;
$color_green: #6fcf97;

* {
  font-family: Roboto;
  color: #3a495e;
  box-sizing: border-box;
}

body {
  background-image: url(../images/page_bg.svg);
  padding: 0px;
  margin: 0px;
  background-size: cover;
}
button,
.btn {
  background-color: $color_blue;
  border: 2px;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  border: 2px solid $color_blue-bright;
  font-weight: 400;
  font-size: 19px;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.content {
  background-color: #f1f8ff;
  border-radius: 40px 40px 0 0;
  padding: 50px;
  min-height: calc(100vh - 150px);
  position: relative;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  h1 {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
}

.indicator {
  margin-bottom: 30px;
  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-bottom: 2px solid;
    padding: 10px 30px;
    padding-bottom: 20px;
    border-color: $color_blue;
    li {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      &.active {
        color: $color_blue;
      }
    }
  }
}

input[type="text"],
input[type="number"] {
  border: 0px;
  background-color: #c4c4c42b;
  border-radius: 5px;
  height: 48px;
  font-size: 25px;
  padding: 5px 20px;
}

.addItems {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  div:nth-child(2) {
    display: flex;
    align-items: flex-end;
  }
  input[type="text"] {
    font-size: 20px;
  }
  input[type="number"] {
    font-weight: 900;
  }
  input[type="text"],
  input[type="number"] {
    width: 220px;
    &::placeholder {
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}

.addBtn {
  border-radius: 100%;
  background-color: $color_green;
  width: 48px;
  height: 48px;
  border: 0px;
  margin-left: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__container {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.typeHeader {
  h2 {
    text-transform: capitalize;
    margin-bottom: 7px;
  }
  p {
    margin: 0px;
  }
  margin-bottom: 20px;
}

.itemsList {
  margin-bottom: 60px;
}
.item {
  background-color: white;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  min-height: 78px;
  align-items: center;
  box-shadow: 0px 2px 4px #cee1fa;
  transition: all 0.1s ease-in-out;
  .item-name {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span:nth-child(1) {
      margin-right: 20px;
    }
  }
  .item-value {
    font-weight: 500;
    font-size: 20px;
    display: flex;
  }
  .item-delete {
    display: inline-block;
    margin-right: -13px;
    margin-left: 20px;
    position: relative;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  &:hover {
    border: 2px solid $color_blue;
    .item-delete {
      margin-right: 0px;
      opacity: 1;
    }
  }
}
.btn-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
}
.navBtns {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.no-item {
  width: 100%;
  padding: 50px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  background-color: #e7f3ff;
}

.results__item-list {
  display: flex;
  justify-content: space-between;
}

.results__message {
  display: block;
  width: max-content;
  padding: 10px 26px;
  border: 1px solid #27ae5f9e;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 6px;
  color: #27ae60;
  background-color: #27ae601a;
  font-weight: 500;
}
.results__balance {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
.results__title {
  text-align: center;
}

.results__item-name {
  font-size: 21px;
  margin-top: 8px;
}
.results__item-total {
  font-size: 30px;
  font-weight: 700;
}

.error {
  background-color: #ffff002e;
  border: 1px solid #e2be0b;
  border-radius: 10px;
  height: 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #e2be0b;
}