* {
  font-family: Roboto;
  color: #3a495e;
  box-sizing: border-box;
}

body {
  background-image: url(../images/page_bg.svg);
  padding: 0px;
  margin: 0px;
}

button,
.btn {
  background-color: #2f80ed;
  border: 2px;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  border: 2px solid #50abff;
  font-weight: 400;
  font-size: 19px;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.content {
  background-color: #f1f8ff;
  border-radius: 40px 40px 0 0;
  padding: 50px;
  min-height: calc(100vh - 150px);
  position: relative;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.header h1 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.indicator {
  margin-bottom: 30px;
}

.indicator ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-bottom: 2px solid;
  padding: 10px 30px;
  padding-bottom: 20px;
  border-color: #2f80ed;
}

.indicator ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.indicator ul li.active {
  color: #2f80ed;
}

input[type="text"],
input[type="number"] {
  border: 0px;
  background-color: #c4c4c42b;
  border-radius: 5px;
  height: 48px;
  font-size: 25px;
  padding: 5px 20px;
}

.addItems {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.addItems div:nth-child(2) {
  display: flex;
  align-items: flex-end;
}

.addItems input[type="text"] {
  font-size: 20px;
}

.addItems input[type="number"] {
  font-weight: 900;
}

.addItems input[type="text"],
.addItems input[type="number"] {
  width: 220px;
}

.addItems input[type="text"]::placeholder,
.addItems input[type="number"]::placeholder {
  text-transform: capitalize;
  font-weight: 400;
}

.addBtn {
  border-radius: 100%;
  background-color: #6fcf97;
  width: 48px;
  height: 48px;
  border: 0px;
  margin-left: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__container {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.typeHeader {
  margin-bottom: 20px;
}

.typeHeader h2 {
  text-transform: capitalize;
  margin-bottom: 7px;
}

.typeHeader p {
  margin: 0px;
}

.itemsList {
  margin-bottom: 60px;
}

.item {
  background-color: white;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  min-height: 78px;
  align-items: center;
  box-shadow: 0px 2px 4px #cee1fa;
  transition: all 0.1s ease-in-out;
}

.item .item-name {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item .item-name span:nth-child(1) {
  margin-right: 20px;
}

.item .item-value {
  font-weight: 500;
  font-size: 20px;
  display: flex;
}

.item .item-delete {
  display: inline-block;
  margin-right: -13px;
  margin-left: 20px;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.item:hover {
  border: 2px solid #2f80ed;
}

.item:hover .item-delete {
  margin-right: 0px;
  opacity: 1;
}

.btn-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
}

.navBtns {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.no-item {
  width: 100%;
  padding: 50px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  background-color: #e7f3ff;
}
/*# sourceMappingURL=style.css.map */